<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/styles/projects.css" />
  </head>
  <body>
    <nav>
      <a href="/templates/template.html"
        >Home <i class="bi bi-house-fill"></i>
      </a>
      <a href="/templates/template.html"
        >About Me <i class="bi bi-person-circle"></i
      ></a>
    </nav>
    <section class="projects">
      <section class="lista-volei" id="lista-volei">
        <div class="description-lista">
          <label class="title">Project: <br />Volleyball list</label>
          <label class="description">Description: <br /></label>
          Built with the python framework: Flet this app<br />aims to organize
          the shceduling <br />
          of volleyball matches
        </div>
        <div class="icon-lista">
          <i class="bi bi-card-checklist"></i>
          <label
            ><a href="https://app-lista-production.up.railway.app/"
              >Visit</a
            ></label
          >
        </div>
      </section>
      <section class="app-coletor" id="app-coletor">
        <div class="icon-app-coletor">
          <i class="bi bi-truck"></i>
          <label
            ><a href="https://app-lista-production.up.railway.app/"
              >Visit</a
            ></label
          >
        </div>
        <div class="description-app-lista">
          <label class="title-app-coletor">Project: <br />Storage App</label>
          <label class="description">Description: <br /></label>
          This app was made with the python library: Streamlit<br />
          It aims to coordenate and organize your storage
          <br />
        </div>
      </section>
      <section class="api-lista" id="api-lista">
        <div class="description-api-lista">
          <label class="title-api-lista">Project: <br />List Api</label>
          <label class="description">Description: <br /></label>
          This api was built in django , a python framework, and <br />gives the
          database and connection to the volleyball list app
          <br />
        </div>
        <div class="icon-api-lista">
          <i class="bi bi-hdd-rack-fill"></i>
          <label
            ><a href="https://app-lista-production.up.railway.app/"
              >Visit</a
            ></label
          >
        </div>
      </section>
    </section>
  </body>
</html>
