html,
body {
  height: 100svh;
  width: 100svw; /* Garante que o HTML e o Body tenham 100% da altura da tela */
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o preenchimento padrão */
  box-sizing: border-box;
  flex: 1;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  & .start {
    flex: 1;
    padding: 4svw;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #7580bb, #2b158b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3svw;
    & label {
      color: rgb(185, 185, 245);
      font-size: 5svw;
      font-weight: bolder;
      font-family: monospace;
      transition: all 0.3s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4svw;
      & button {
        padding: 2svw;

        background-color: black;
        border: none;
        border-radius: 12px;

        box-shadow: 0.5svw 0.5svw 3px rgba(0, 0, 0, 0.384);
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
        & a {
          color: rgb(83, 83, 252);
          text-decoration: none;
          font-size: xx-large;
          font-family: monospace;
          font-weight: bolder;
        }
      }
    }
  }
}
